<!DOCTYPE html>
<html>
<head>
  <title>Phone Diary - Contact Manager</title>
  <link rel="stylesheet" href="/contactstyles.css">
</head>
<body>
  <nav class="navbar">
    <div class="brand">
      <h2 class="brand1">Phone Diary</h2>
    </div>
    <div class="logout">
      <form action="/user/logout/" method="get">
        <button type="submit">Logout</button>
      </form>
      
    </div>
  </nav>

  <div class="container">
    <h2>Contact Manager</h2>
    <ul>
      <li>
        <form action="/contact/update/" method="get">
          <button type="submit">Update Contact</button>
        </form>
      </li>
      <li>
        <form action="/contact/search/" method="get">
          <button type="submit">Get Contact by ID</button>
        </form>
      </li>
      <li>
        <form action="/contact/delete/" method="get">
          <button type="submit">Delete the Contact</button>
        </form>
      </li>
      <li>
        <form action="/contact/" method="get">
          <button type="submit">Get All Contacts</button>
        </form>
      </li>
      <li>
        <form action="/contact/create/" method="get">
          <button type="submit">Create a Contact</button>
        </form>
      </li>
      <li>
        <form action="/user/current/" method="get">
          <button type="submit">Get Current User Information</button>
        </form>
      </li>
    </ul>
  </div>

  <div id="result"></div>

  <script src="script.js"></script>
</body>
</html>
